@media screen and (max-width: 1300px){
    main>section{
        flex: 3;
    }
    main>section>article{
        width: 236px;
        margin: 0.6em;

    }
    main>section>article>img{
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 1024px){
    main>section{
        flex:3;

    }
    main>section>article{
        width: 300px;
    }
    main>section>article img{
        width: 100%;
        height: 240px;
    }
    main>section>article{
        width: 236px;
        margin: 0.6em;

    }
    main>section>article>img{
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 960px){

}

@media screen and (max-width: 768px) {
    main>section{
        flex: 2;
    }
}

@media screen and (max-width: 640px) {
    main{
        flex-direction: column-reverse;
    }
    main>section{
        width: 100%;
    }
    main>section>article{
        width: 370px;
    }
    main>section>article img{
        width: 100%;
        height: 300px;
    }
    main>aside{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 320px) {
    main>section>article{
        width: 300px;
    }
    main>section>article img{
        width: 100%;
        height: 240px;
    }
}